<!-- Begin Sidebar Nav -->
        <div class="col-sm-3 col-md-2 sidebar">
          <div class="user-info">
            <h2>User Name</h2>
            <p>user@email.com</p>
          </div>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Website Projects <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Timeline</a></li>
            <li><a href="#">Account &amp; Billing</a></li>
            <li><a href="#">Give Feedback</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/#/setup-template">Template</a></li>
            <li><a href="/#/setup-styles">Styles</a></li>
            <li><a href="/#/setup-domain">Domain</a></li>
            <li><a href="/#/setup-pages">Pages</a></li>
            <li><a href="/#/setup-content">Content</a></li>
            <li><a href="/#/setup-payment">Payment</a></li>
          </ul>
        </div><!-- End Sidebar Nav