<!DOCTYPE html>
<html lang="en" ng-app="wpxpress">
  <head><% include partials/head.ejs %></head>
  <body>
      
    <% include partials/page-header.ejs %>
      
        <div class="container-fluid">
        <div class="row">
        <% include partials/left-nav.ejs %>
        <% include main-content.ejs %>
        </div><!-- End Container Row -->
        </div><!-- End Fluid Container -->
      
    <% include partials/page-footer.ejs %>
    <% include partials/scripts.ejs %>
      
  </body>
</html>